[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/drive/1972bNHN_BBTEorvLxqTvdRS4nC3PWj7O#scrollTo=jTQTcDbj9uxr)

### TMDB Box Office Prediction

**[1. Data loading and overview](#heading--1)**



**[2. Exploratory Data Analysis](#heading--2)**

  * [2.1. belongs_to_collection column](#heading--2-1)
  * [2.2. genres column](#heading--2-2)

In [1]:
import numpy as np
import pandas as pd
import ast
from collections import Counter

import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.float_format', lambda x: '%.4f' % x)

### 1. Data loading and overview <a name="heading--1"/>

In [2]:
# Loading train and test data
train_raw = pd.read_csv('train.csv')
test_raw = pd.read_csv('test.csv')

# copying of original data
train = train_raw.copy()
test = test_raw.copy()

# Id from test set is necessary to submit the file on Kaggle
test_id = test['id']

# 'revenue' is the target variable
target = train['revenue']

In [3]:
train.head()

   id  ...   revenue
0   1  ...  12314651
1   2  ...  95149435
2   3  ...  13092000
3   4  ...  16000000
4   5  ...   3923970

[5 rows x 23 columns]

In [4]:
test.head()

     id  ...                                               crew
0  3001  ...  [{'credit_id': '52fe44e7c3a368484e03d683', 'de...
1  3002  ...  [{'credit_id': '55807805c3a3685b1300060b', 'de...
2  3003  ...  [{'credit_id': '52fe4330c3a36847f8041367', 'de...
3  3004  ...  [{'credit_id': '56478092c3a36826140043af', 'de...
4  3005  ...  [{'credit_id': '52fe44ce9251416c75041967', 'de...

[5 rows x 22 columns]

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     3000 non-null   int64
 1   belongs_to_collection  604 non-null    object
 2   budget                 3000 non-null   int64
 3   genres                 2993 non-null   object
 4   homepage               946 non-null    object
 5   imdb_id                3000 non-null   object
 6   original_language      3000 non-null   object
 7   original_title         3000 non-null   object
 8   overview               2992 non-null   object
 9   popularity             3000 non-null   float64
 10  poster_path            2999 non-null   object
 11  production_companies   2844 non-null   object
 12  production_countries   2945 non-null   object
 13  release_date           3000 non-null   object
 14  runtime                2998 non-null   float64
 15  spoken_languages       2980 non-null   object
 16  status                 3000 non-null   object
 17  tagline                2403 non-null   object
 18  title                  3000 non-null   object
 19  Keywords               2724 non-null   object
 20  cast                   2987 non-null   object
 21  crew                   2984 non-null   object
 22  revenue                3000 non-null   int64
dtypes: float64(2), int64(3), object(18)
memory usage: 539.2+ KB

In [6]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4398 entries, 0 to 4397
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     4398 non-null   int64
 1   belongs_to_collection  877 non-null    object
 2   budget                 4398 non-null   int64
 3   genres                 4382 non-null   object
 4   homepage               1420 non-null   object
 5   imdb_id                4398 non-null   object
 6   original_language      4398 non-null   object
 7   original_title         4398 non-null   object
 8   overview               4384 non-null   object
 9   popularity             4398 non-null   float64
 10  poster_path            4397 non-null   object
 11  production_companies   4140 non-null   object
 12  production_countries   4296 non-null   object
 13  release_date           4397 non-null   object
 14  runtime                4394 non-null   float64
 15  spoken_languages       4356 non-null   object
 16  status                 4396 non-null   object
 17  tagline                3535 non-null   object
 18  title                  4395 non-null   object
 19  Keywords               4005 non-null   object
 20  cast                   4385 non-null   object
 21  crew                   4376 non-null   object
dtypes: float64(2), int64(2), object(18)
memory usage: 756.0+ KB

In [7]:
# some basic statistics for numerical columns
train.describe().T

               count          mean  ...           75%             max
id         3000.0000     1500.5000  ...     2250.2500       3000.0000
budget     3000.0000 22531334.1100  ... 29000000.0000  380000000.0000
popularity 3000.0000        8.4633  ...       10.8910        294.3370
runtime    2998.0000      107.8566  ...      118.0000        338.0000
revenue    3000.0000 66725851.8887  ... 68919203.5000 1519557910.0000

[5 rows x 8 columns]

In [8]:
test.describe().T

               count          mean  ...           75%            max
id         4398.0000     5199.5000  ...     6298.7500      7398.0000
budget     4398.0000 22649291.1173  ... 28000000.0000 260000000.0000
popularity 4398.0000        8.5502  ...       10.9385       547.4883
runtime    4394.0000      107.6222  ...      118.0000       320.0000

[4 rows x 8 columns]

In [9]:
# some basic statistics for object columns
train.describe(include=['object']).T

                      count  ...  freq
belongs_to_collection   604  ...    16
genres                 2993  ...   266
homepage                946  ...     4
imdb_id                3000  ...     1
original_language      3000  ...  2575
original_title         3000  ...     2
overview               2992  ...     1
poster_path            2999  ...     1
production_companies   2844  ...    51
production_countries   2945  ...  1752
release_date           3000  ...     5
spoken_languages       2980  ...  1817
status                 3000  ...  2996
tagline                2403  ...     3
title                  3000  ...     2
Keywords               2724  ...    27
cast                   2987  ...    13
crew                   2984  ...     1

[18 rows x 4 columns]

In [10]:
test.describe(include=['object']).T

                      count  ...  freq
belongs_to_collection   877  ...    10
genres                 4382  ...   348
homepage               1420  ...     3
imdb_id                4398  ...     1
original_language      4398  ...  3776
original_title         4398  ...     2
overview               4384  ...     2
poster_path            4397  ...     1
production_companies   4140  ...    72
production_countries   4296  ...  2587
release_date           4397  ...     7
spoken_languages       4356  ...  2704
status                 4396  ...  4389
tagline                3535  ...     2
title                  4395  ...     2
Keywords               4005  ...    30
cast                   4385  ...    21
crew                   4376  ...     1

[18 rows x 4 columns]

In [11]:
print(f'the shape of the train set: {train.shape}')
print(f'the shape of the test set: {test.shape}')

the shape of the train set: (3000, 23)
the shape of the test set: (4398, 22)

### 2. Exploratory Data Analysis <a name="heading--2"/>

There are JSON format columns so first the should be converted to python dictionary format.

In [12]:
json_cols = ['belongs_to_collection', 'genres', 'production_companies',
            'production_countries', 'spoken_languages', 'Keywords', 
            'cast', 'crew']

def json_to_dict(df):
    for col in json_cols:
        df[col] = df[col].apply(lambda x: {} if pd.isna(x) else ast.literal_eval(x))
    return df

train = json_to_dict(train)
test = json_to_dict(test)

#### 2.1. belongs_to_collection column <a name="heading--2-1"/>

In [13]:
train['belongs_to_collection'][0]

[{'backdrop_path': '/noeTVcgpBiD48fDjFVic1Vz7ope.jpg',
  'id': 313576,
  'name': 'Hot Tub Time Machine Collection',
  'poster_path': '/iEhb00TGPucF0b4joM1ieyY026U.jpg'}]

In [14]:
# checking how many rows in 'belongs_to_collection' column is empty
train['belongs_to_collection'].apply(lambda x: len(x) if x != {} else 0).value_counts()

0    2396
1     604
Name: belongs_to_collection, dtype: int64

In [15]:
# 25 most frequent collection name without empty values
train['belongs_to_collection'].apply(lambda x: x[0]['name'] if x != {} else 0).value_counts()[1:25]

James Bond Collection                        16
Friday the 13th Collection                    7
The Pink Panther (Original) Collection        6
Police Academy Collection                     5
Pokémon Collection                            5
Rocky Collection                              4
Resident Evil Collection                      4
Rambo Collection                              4
Transformers Collection                       4
Child's Play Collection                       4
The Fast and the Furious Collection           4
Paranormal Activity Collection                4
Alien Collection                              4
Ice Age Collection                            4
Rush Hour Collection                          3
The Wolverine Collection                      3
The Dark Knight Collection                    3
Cars Collection                               3
Halloween Collection                          3
Star Trek: The Original Series Collection     3
Qatsi Collection                              3
Indiana Jones Collection                      3
Planet of the Apes Original Collection        3
Diary of a Wimpy Kid Collection               3
Name: belongs_to_collection, dtype: int64

I think only collection name is important. The others can be deleted. Because 'collection_name' is a new column so 'belongs_to_collection' column can be also deleted

In [16]:
train['collection_name'] = train['belongs_to_collection'].apply(lambda x: x[0]['name'] if x != {} else 0)
test['collection_name'] = test['belongs_to_collection'].apply(lambda x: x[0]['name'] if x != {} else 0)

train = train.drop(['belongs_to_collection'], axis=1)
test = test.drop(['belongs_to_collection'], axis=1)

#### 2.2. genres column <a name="heading--2-2"/>

In [17]:
for i, e in enumerate(train['genres'][:5]):
    print(i, e)

0 [{'id': 35, 'name': 'Comedy'}]
1 [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}, {'id': 10751, 'name': 'Family'}, {'id': 10749, 'name': 'Romance'}]
2 [{'id': 18, 'name': 'Drama'}]
3 [{'id': 53, 'name': 'Thriller'}, {'id': 18, 'name': 'Drama'}]
4 [{'id': 28, 'name': 'Action'}, {'id': 53, 'name': 'Thriller'}]

In [18]:
train['movie_genres'] = train['genres'].apply(lambda x: [i['name'] for i in x] if x!={} else [])
train['movie_genres']

0                                 [Comedy]
1         [Comedy, Drama, Family, Romance]
2                                  [Drama]
3                        [Thriller, Drama]
4                       [Action, Thriller]
                       ...
2995                     [Comedy, Romance]
2996                        [Drama, Music]
2997    [Crime, Action, Mystery, Thriller]
2998                     [Comedy, Romance]
2999           [Thriller, Action, Mystery]
Name: movie_genres, Length: 3000, dtype: object

In [21]:
test['movie_genres'] = test['genres'].apply(lambda x: [i['name'] for i in x] if x!={} else [])
test['movie_genres']

0       [Adventure, Animation, Family, Fantasy]
1                     [Horror, Science Fiction]
2                             [Comedy, Romance]
3                         [Drama, War, Mystery]
4                        [History, Documentary]
                         ...
4393                                 [Thriller]
4394      [Action, Adventure, Comedy, Thriller]
4395                                    [Drama]
4396                         [Horror, Thriller]
4397                                    [Drama]
Name: movie_genres, Length: 4398, dtype: object

In [22]:
train['genres_number'] = train['movie_genres'].apply(len)
train[['title', 'movie_genres', 'genres_number']][:5]

                                      title  ... genres_number
0                    Hot Tub Time Machine 2  ...             1
1  The Princess Diaries 2: Royal Engagement  ...             4
2                                  Whiplash  ...             1
3                                   Kahaani  ...             2
4                                Marine Boy  ...             2

[5 rows x 3 columns]

In [23]:
test['genres_number'] = test['movie_genres'].apply(len)
test[['title', 'movie_genres', 'genres_number']][:5]

                          title  ... genres_number
0  Pokémon: The Rise of Darkrai  ...             4
1   Attack of the 50 Foot Woman  ...             2
2              Addicted to Love  ...             2
3                     Incendies  ...             3
4            Inside Deep Throat  ...             2

[5 rows x 3 columns]

unique value of genres in train set

In [24]:
train_li = []
[train_li.append(dic['name']) for li in train['genres'] for dic in li if dic['name'] not in train_li]
sorted(train_li)

['Action',
 'Adventure',
 'Animation',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Foreign',
 'History',
 'Horror',
 'Music',
 'Mystery',
 'Romance',
 'Science Fiction',
 'TV Movie',
 'Thriller',
 'War',
 'Western']

unique value of genres in test set

In [25]:
test_li = []
[test_li.append(dic['name']) for li in test['genres'] for dic in li if dic['name'] not in test_li]
sorted(test_li)

['Action',
 'Adventure',
 'Animation',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Foreign',
 'History',
 'Horror',
 'Music',
 'Mystery',
 'Romance',
 'Science Fiction',
 'Thriller',
 'War',
 'Western']

In [27]:

genres_count = Counter([i for j in train['movie_genres'] for i in j]).most_common()
genres_count

[('Drama', 1531),
 ('Comedy', 1028),
 ('Thriller', 789),
 ('Action', 741),
 ('Romance', 571),
 ('Crime', 469),
 ('Adventure', 439),
 ('Horror', 301),
 ('Science Fiction', 290),
 ('Family', 260),
 ('Fantasy', 232),
 ('Mystery', 225),
 ('Animation', 141),
 ('History', 132),
 ('Music', 100),
 ('War', 100),
 ('Documentary', 87),
 ('Western', 43),
 ('Foreign', 31),
 ('TV Movie', 1)]